@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');

/* this holds variables used in css file */
:root{
  --red: #EF6D9A;
  --Highlight: #F7B4CB;
  --white: #FBFCFC;
  --black: #222;
  /* this transparent-white is to help the blur effect */
  --transparent-white: rgba(255, 255, 255, .3);
  --border: .2rem solid var(--red);
  --box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, 0.1);
}

/* styles that apply to website */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  border-style: none;
  outline: none;

}

/* setting the size of text on screen, use as default */
html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* this is for the website scrollbar, use as default */
html::-webkit-scrollbar{
  width: 1rem;
}

html::-webkit-scrollbar-track{
  background: transparent;
}

html::-webkit-scrollbar-thumb{
   background: var(--red);
}

body{
  background: var(--white);
}

section{
  padding: 2rem;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: var(--white);
}

.btn{
  display: inline-block;
  /* 1 is for top and bottom, 3 is left and right */
  padding: 1rem 2rem;
  background: var(--red);
  color: var(--white);
  border-radius: .5rem;
  font-size: 1.5rem;
  /* this makes the text capitalize */
  text-transform: capitalize;
  cursor: pointer;
}

.btn:hover{
  background: var(--white);
  color: var(--red);
  border: var(--border);
  transition: .2s ease-in;
  letter-spacing: .2rem;
  font-weight: 500;
}

.logo a{
  font-size: 2rem;
  font-weight: bold;
  color: var(--black);
  cursor: pointer;
}

.logo span{
  color: var(--red);
}

.navbar{
  justify-content: space-between;
  margin-left: 20px;
}

.navbar a{
  color: var(--black);
  font-size: 1.5rem;
  display: inline-block;
  padding: 0 1.5rem;
  text-transform: capitalize;
  font-weight: 400;
}

.navbar a:hover{
  color: var(--red);
  font-weight: 500;
  border-bottom: .1rem solid var(--Highlight);
  padding-bottom: .5rem;
}

#menu-btn{
  font-size: 2.5rem;
  color: var(--red);
  cursor: pointer;
  margin-left: 2rem;
  display: none;
}

#menu-btn:hover{
  color: var(--Highlight);
}

.heading{
  font-size: 2.2rem;
  text-align: center;
  text-transform: capitalize;
}

.heading span{
  color: var(--red);
}

.home{
  padding-top: 4rem;
}

/* this is for the whole home screen */
.home .slide{
  min-height: 50rem;
  border-radius: .5rem;
  /* this makes the slide in the center */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  margin-bottom: 4rem;
  background-size: cover !important;
  background-position: center !important;
}

/* this is the background of the box on the home screen */
.home .slide .content{
  background: var(--transparent-white);
  border-radius: .5rem;
  backdrop-filter: blur(.5rem);
  box-shadow: var(--box-shadow);
  padding: 2rem;
  width: 50rem;
  text-align: center;
}

.home .slide .content h3{
  font-size: 3rem;
  color: var(--black);
  text-transform: uppercase;
}

.home .slide .content p{
  font-size: 1.5rem;
  color: var(--black);
  padding: 1rem 0;
  line-height: 2;
}

/* this is for the box with details, this is to pop it on the screen */
@keyframes PopUp {
  0%{
    transform: scale(0);
  }
}

/* this is to pop the box when the image / slide is active */
.home .swiper-slide-active .content{
  animation: PopUp .2s linear backwards .2s;
}

/* this is the image / card size */
.services .slide{
  height: 30rem;
  overflow: hidden;
  position: relative;
  user-select: none;
  margin-bottom: 4rem;
  background-size: cover !important;
  background-position: center !important;
}

/* the image sizing */
.services .slide img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: .2s linear;
}

.services .slide:hover .content img{
  transform: scale(1.1);
}

/* this is the box on top of image */
.services .slide .content{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--transparent-white);
  backdrop-filter: blur(.5rem);
  text-align: center;
  padding: 1.5rem;
  text-align: center;
  transition: .2s linear;
  transform: translateY( calc(100% - 4rem));
}

.services .slide:hover .content{
  transform: translateY(0);
}

.services .slide .content h3{
  font-size: 1.8rem;
  color: var(--black);
  padding-bottom: .4rem;
  text-transform: uppercase;
  text-align: center;
}

.services .slide .content p{
  font-size: 1.5rem;
  color: var(--black);
  padding: .5rem 0;
  line-height: 2;
}

.swiper-button-next:after, .swiper-button-prev:after{
  color: var(--red);
  font-size: 1rem;
}

/* form look details */
.quote form .flex {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.quote form .flex .inputBox {
  flex: 1 1 41rem;
}

.quote form .flex .inputBox span {
  display: block;
  margin-bottom: .6rem;
  font-size: 1.7rem;
  color: var(--red);
}

.quote form .flex .inputBox input,
.quote form .flex .inputBox textarea,
.quote form .flex .inputBox select {
  width: 100%;
  padding: 1.2rem 1.4rem;
  border: .2rem solid black;
  border-radius: .5rem;
  font-size: 1.5rem;
  background: var(--transparent-white);
}

.quote form .flex .inputBox textarea {
  height: 20rem;
  resize: none;
}

.quote form .btn {
  margin-top: 2rem;
}

/* this is the grid */
.gallery .gallery-container {
  display: grid;
  /* this is for grid sizing */
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  /* this is the gap in between the box items */
  gap: 1.5rem;
}

/* box background */
.gallery .gallery-container .box {
  border-radius: .5rem;
  background: rgba(255, 255, 255, .3);
  overflow: hidden;
  box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, 0.1);
}

/* image sizing */
.gallery .gallery-container .box .image {
  height: 25rem;
  overflow: hidden;
}

/* image box animation */
.gallery .gallery-container .box .image img {
  transition: .2s linear;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* this is to expand */
.gallery .gallery-container .box:hover .image img {
  transform: scale(1.1);
}

.contact .box-container {
  display: grid;
  /* this is for grid sizing */
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  /* this is the gap in between the box items */
  gap: 1.5rem;
  padding-left: 12rem;
}

.contact .box-container .box p{
  font-size: 1.7rem;
  color: var(--red);
}

/* this is for the items in footer */
.contact .box-container .box a{
  /* this is - display: block - makes it a column */
  display: block;
  font-size: 1.5rem;
  color: var(--black);
  /* this is the gap between item list */
  padding: .5rem 0;
}

/* this is for the items in footer */
.contact .box-container .box i{
  /* this is - display: block - makes it a column */
  display: inline-block;
  font-size: 1.3rem;
  color: var(--red);
  /* this is the gap between item list */
  padding: .5rem 0;
}

.footer{
  background: var(--Highlight);
}

.footer .box{
  background: var(--Highlight);
}

/* this is to put footer box items in grids */
  /* this can be used as default */
.footer .box-container{
  display: grid;
  /* this is for grid sizing */
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  /* this is the gap in between the box items */
  gap: 1.5rem;
  background: var(--Highlight);
}

/* this is for the item headers */
.footer .box-container .box h3{
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 1rem;
  color: var(--black);
  background: var(--Highlight);
}

/* this is for the items in footer */
.footer .box-container .box a{
  /* this is - display: block - makes it a column */
  display: block;
  font-size: 1.3rem;
  color: var(--black);
  /* this is the gap between item list */
  padding: .5rem 0;
  background: var(--Highlight);
}

/* this is for icons, just normal settings */
.footer .box-container .box a i{
  color: var(--black);
    /* this is for the gap between icon and text */
    padding-right: .5rem;
  font-size: 1.2rem;
  transition: .2s linear;
  background: var(--Highlight);
}

/* this is for icons, when user uses it */
.footer .box-container .box a:hover i{
  /* this is to move the line */
  padding: .7rem;
  /* background: var(--black); */
}

.footer .box-container .box p{
  font-size: 1.2rem;
  color: var(--black);
  background: var(--Highlight);
}

.footer-Newsletter{
  display: flex;
  min-width: 18rem;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
  background: var(--Highlight);
}

.footer-Newsletter input{
  background: var(--white);
  border: var(--border);
  width: 65%;
  padding: 0.5rem;
  margin-right: 0.3rem;
}

.footer-Newsletter button{
  color: var(--white);
  width: 20%;
  background: var(--red);
  border-radius: .5rem;
  padding: 0.5rem;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.footer-Newsletter button:hover{
  background: var(--white);
  color: var(--red);
}

.footer .credit{
  font-size: 1.3rem;
  text-align: center;
  padding-top: 1rem;
  border-top: var(--border);
  color: var(--black);
  background: var(--Highlight);
}

.footer .credit span{
  color: var(--white);
  background: var(--Highlight);
}

/* website sizing for compatibility */
@media (max-width:991px) {
  html{
    font-size: 55%;
  }
}

@media (max-width:768px) {

 header{
   font-size: 3.5rem;
 }
  #menu-btn{
    display: inline-block;
    transition: .2s linear;
  }

  #menu-btn.fa-times{
    transform: rotate(180deg);
  }

  .navbar{
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: var(--white);
    border-top: var(--border);
    padding: 2rem;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: .2s linear;
  }

 .navbar.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .navbar a{
    display: block;
    margin: 2rem;
    text-align: center;
    color: var(--black);
  }
}

@media (max-width:450px) {
  html{
    font-size: 50%;
  }
}
